<div class="card">
    <div class="card-header bg-dark text-white fw-bold">Pacienti</div>
    <ul class="list-group list-group-flush">
        <div class="list-group-item"
             *ngFor="let patient of patients"
             (click)="selectPatient(patient)"
             [ngClass]="{
                    'highlight-selected-patient': selectedPatient === patient
                }">

            <div class="row">
                <div class="col">{{ patient.firstName + ' ' + patient.lastName }}</div>
                <div class="col" *ngIf="patient.phone"><i class="fa-solid fa-phone"> </i> &nbsp; {{patient.phone}}</div>
            </div>
        </div>
    </ul>
</div>