<div class="modal-dialog-scrollable">
  <div class="modal-content">
    <div class="modal-header">
      <h4>Radiografie
      </h4>
      <button type="button"
              class="btn-close"
              (click)="onClose()"></button>
    </div>
    <div class="modal-body d-flex justify-content-center">

      <div *ngIf="!imageNotExist"
           class="row d-flex justify-content-center">
        <div *ngFor="let img of images"
             class="d-flex justify-content-center">
          <div class="row d-flex justify-content-center">
            <div>Data: {{img.date | date: dateFormat}}</div>
            <img [src]="img?.image">
          </div>

        </div>
      </div>
      <div *ngIf="imageNotExist"
           class="row"> Nu aveti nicio radiografie la clinica nostra. </div>

    </div>

  </div>
</div>