.register {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: #000b6c;
    margin-top: 20px;
    min-height: 550px;
    padding: 25px 0 25px 0;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%), 0 4px 8px rgb(0 0 0 / 30%);
    &-form {
      background-color: #f0f2f5;
    }
  }
  
  input.ng-invalid.ng-touched {
    border: 1px solid red;
  }
  
  