<div class="container">
  <div class="row d-flex justify-content-center p-3 rounded-3 start-title my-3">DESPRE NOI</div>

  <div class="row my-3 rounded-3">
    <div class="col-md-6 text-center text-dark p-3 rounded-3">Creative Dentline este una dintre cele mai noi și moderne
      clinici
      stomatologice.

      Dotările de ultimă generație sunt gândite astfel încât să faciliteze fiecare vizită a pacienților la clinica
      noastră.
      <br>
      Am construit în aceeași incintă un laborator de tehnică dentară și un cabinet de radiologie, cu scopul de a le
      aduce pacienților noștri cât mai multe beneficii și de a micșora timpul pe care aceștia îl petrec într-un cabinet
      stomatologic.
      Cabinetele sunt dotate cu cea mai nouă aparatură și întreaga clinică este păstrată în condiții de igienă
      superioare.
      <br>
      Echipa Creative Dentline este formată din medici specialiști pasionați de ceea ce fac, îmbunătățind zi de zi munca
      lor prin participarea la diferite cursuri sau conferințe de specialitate.
    </div>
    <div class="col-md-6 d-flex justify-content-center align-content-center align-items-center">
      <img src="assets/images/hospital (4).png"
           class="w-50"
           alt="Dental Clinic Logo"
           loading="lazy" />
    </div>
  </div>

  <div class="row d-flex justify-content-center p-3 rounded-3 start-title my-3">ECHIPA DENTAL CLINIC!</div>

  <div class="row card my-3 rounded-3">
    <div class="text-center text-dark p-3 rounded-3">Suntem o echipă dedicată sănătății dvs. dentare și am făcut din
      îmbunătățirea sănătății orale a pacienților noștri o prioritate.</div>
  </div>

  <div class="cards">
    <div *ngFor="let doctor of doctors"
         class="cards-style">
      <div class="card"
           style="width: 18rem;">
        <div class="text-center m-2 p-2">
          <img *ngIf="doctor.gender === 'MASCULIN' || doctor.gender === 'masculin'" 
               class="card-img-top"
               src="assets/images/masculin.png"
               alt="Card image cap">
          <img *ngIf="doctor.gender === 'FEMININ' || doctor.gender === 'feminin'"
               class="card-img-top"
               src="assets/images/feminin.png"
               alt="Card image cap">
        </div>
        <div class="card-body text-center">
          <h5 class="card-title ">Dr. {{doctor.lastName}} {{doctor.firstName}} </h5>
          <div class="card-text">{{doctor.description}}</div>
          <div class="card-text">Specializari:</div>
          <div *ngFor="let specialization of doctor.specializationDetailsListItem
          "
               class="card-text">{{specialization.name}}</div>
          <div class="card-text">Email: {{doctor.email}}</div>
        </div>
      </div>
    </div>
  </div>

  <button *ngIf="isMenuScrolled"
          (click)="scrollToTop()"
          class="scroll-to-top-button">
    <svg xmlns="http://www.w3.org/2000/svg"
         fill="none"
         viewBox="0 0 24 24"
         stroke-width="2.5"
         stroke="currentColor"
         class="scroll-to-top-icon">
      <path stroke-linecap="round"
            stroke-linejoin="round"
            d="M4.5 15.75l7.5-7.5 7.5 7.5" />
    </svg>
  </button>

  <div class="row book-online bg-primary text-white text-center my-3 rounded-3">
    <div class="book-online p-3 rounded-3"> Programeaza-te acum gratuit <a class="text-light"
         routerLinkActive="active"
         routerLink="/menu/appointment"> aici. </a>
    </div>
  </div>

  <!-- <div class="d-flex justify-content-center my-3">
    <div class="mapouter">
      <div class="gmap_canvas"><iframe class="gmap_iframe"
                frameborder="0"
                scrolling="no"
                marginheight="0"
                marginwidth="0"
                src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=fsega&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a
           href="https://capcuttemplate.org/">Capcut Templates</a></div>
    </div>
  </div> -->


</div>