<div class="modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h4>Informații programare {{ appointmentSelected.patientDetails.lastName }}
        {{ appointmentSelected.patientDetails.firstName }}</h4>
      <button type="button"
              class="btn-close"
              (click)="onClose()"></button>
    </div>
    <div class="modal-body">
      <ul ngbNav
          #nav="ngbNav"
          [(activeId)]="active"
          class="nav-tabs">
        <li [ngbNavItem]="1">
          <a ngbNavLink><i class="fa-solid fa-calendar-check"></i> Programare</a>
          <ng-template ngbNavContent>
            <div class="d-flex">
              <span class="p-2 fw-bold"><i class="fa-solid fa-calendar-day"></i> Data si ora:</span>
              <span class="p-2 ms-auto">
                {{ appointmentSelected.date }},
                {{ appointmentSelected.hour }}
              </span>
            </div>

            <div class="text-danger text-center my-3"
                 *ngIf="!appointmentSelected.treatment && appointmentSelected.date <= today">Trebuie sa adaugati
              informațiile referitoare la tratamentul
              efectuat!</div>
            <div class="form-floating my-3">
              <textarea class="form-control"
                        placeholder="Treatment"
                        id="treatment"
                        [disabled]="mode==='VIEW'"
                        [(ngModel)]="treatment"></textarea>
              <label for="treatment">Tratament</label>
            </div>

            <div class="row justify-content-center">
              <div class="col-auto">
                <button type="button"
                        *ngIf="mode==='VIEW'"
                        class="btn btn-success m-3"
                        (click)="onEditMode()"
                        [disabled]="appointmentSelected.date > today "><i class="fa-solid fa-add"></i>
                  Adaugă
                  tratament</button>
              </div>
              <div class="col-auto">
                <button type="button"
                        *ngIf="mode==='EDIT'"
                        class="btn btn-success m-3"
                        (click)="updateAppointment()"
                        [disabled]="!treatment || appointmentSelected.date > today "><i class="fa-solid fa-save"></i>
                  Salvează</button>
              </div>
              <div class="col-auto"
                   *ngIf="today < appointmentSelected.date">
                <button type="button"
                        class="btn btn-danger m-3"
                        (click)="deleteAppointment()"><i class="fa-solid fa-trash"></i></button>
              </div>
            </div>


          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <a ngbNavLink>Detalii pacient</a>
          <ng-template ngbNavContent>
            <div class="d-flex">
              <span class="p-2 fw-bold"><i class="fa-solid fa-person-dots-from-line"></i> Alergii:</span>
              <span class="p-2 ms-auto"
                    *ngIf="patient.allergies">
                {{ patient.allergies }}
              </span>
              <span class="p-2 ms-auto"
                    *ngIf="!patient.allergies">
                Nu sunt menționate
              </span>
            </div>
            <div class="d-flex">
              <span class="p-2 fw-bold"><i class="fa-solid fa-square-virus"></i> Boli cronice:</span>
              <span class="p-2 ms-auto"
                    *ngIf="patient.chronicDiseases">
                {{ patient.chronicDiseases }}
              </span>
              <span class="p-2 ms-auto"
                    *ngIf="!patient.chronicDiseases">
                Nu sunt menționate
              </span>
            </div>
            <div class="d-flex">
              <span class="p-2 fw-bold"><i class="fa-solid fa-calendar-day"> </i>Data nasterii:</span>
              <span class="p-2 ms-auto">
                {{ patient.dateOfBirth }}
              </span>
            </div>
            <div class="d-flex">
              <span class="p-2 fw-bold"><i class="fa-solid fa-phone"></i> Telefon:</span>
              <span class="p-2 ms-auto"
                    *ngIf="patient.phone">
                {{ patient.phone }}
              </span>
              <span class="p-2 ms-auto"
                    *ngIf="!patient.phone">
                -
              </span>
            </div>
            <div class="d-flex">
              <span class="p-2 fw-bold"><i class="fa-solid fa-mail-bulk"></i> Email:</span>
              <span class="p-2 ms-auto">
                {{ patient.email }}
              </span>
            </div>

            <div class="d-flex">
              <span class="p-2 fw-bold">
                <i *ngIf="patient?.gender ==='feminin'"
                   class="fa-solid fa-female"></i>
                <i *ngIf="patient?.gender ==='masculin'"
                   class="fa-solid fa-male"></i>
                &nbsp;
                Gen:</span>
              <span class="p-2 ms-auto">
                {{ patient.gender }}
              </span>
            </div>


          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>
    </div>
  </div>
</div>