<footer class="footer bg-dark text-white p-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-white">
        <h3>Meniu</h3>
        <ul class="list-unstyled text-white">
          <li><a class="text-white-50" routerLinkActive="active" routerLink="/home">Acasă</a></li>
          <li><a routerLinkActive="active" routerLink="/about-us" class="text-white-50">Echipa noastra</a></li>
          <li><a routerLinkActive="active" routerLink="/services" class="text-white-50">Servicii</a></li>
          <li><a routerLinkActive="active" routerLink="/prices" class="text-white-50">Tarife</a></li>
          <li><a routerLinkActive="active" routerLink="/contact" class="text-white-50">Contact</a></li>
          <li><a routerLinkActive="active" routerLink="/appointment" class="text-white-50">Programare online</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Contactați-ne</h3>
        <ul class="list-unstyled text-white-50">
          <li><i class="fa fa-map-marker"></i> Str. Primaverii, nr. 10, Cluj-Napoca, România</li>
          <li><i class="fa fa-phone"></i> 0753 871 595</li>
          <li><i class="fa fa-envelope"></i> dental.clinic@yahoo.com</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Abonați-vă la newsletter</h3>
        <p class="text-white-50">Abonați-vă la noutățile noastre pentru a fi la curent cu cele mai recente promoții și noutăți.</p>
        <form>
          <div class="form-group">
            <input type="email" class="form-control my-2" id="newsletter-email" placeholder="Introduceți adresa de email">
          </div>
          <button type="submit" class="btn btn-primary my-2">Abonați-vă</button>
        </form>
      </div>
    </div>
  </div>
</footer>
