<div class="row ps-4 ps-lg-0">
  <div class="col-7">
    <table class="table table-striped my-2">
      <thead class="bg-primary">
        <tr>
          <th scope="col"
              class="col text-white p-2"><i class="fa-solid fa-user-doctor m-2"> </i> Doctor</th>
          <th scope="col"
              class="col text-white p-2"><i class="fa-solid fa-calendar-day m-2"> </i> Data</th>
          <th scope="col"
              class="col text-white p-2"><i class="fa-solid fa-clock-four m-2"> </i> Ora</th>
        </tr>
      </thead>

      <tbody *ngIf="listIsEmpty">
        <td class="bg-light fw-bold text-center"
            colspan="3">
          <div class="row">
            <i class="fa-solid fa-file-circle-xmark fa-3x"></i>
          </div>
          <div class="row">
            <p>Nu exista programari.</p>
          </div>
        </td>
      </tbody>

      <tbody>
        <tr *ngFor="let appointment of appointmentsList"
            class="align-middle cursor-pointer"
            (click)="viewRequest(appointment)">
          <th scope="row"> {{appointment.doctorDetails.lastName}} {{appointment.doctorDetails.firstName}}</th>
          <td>{{appointment.date | date: dateFormat}}</td>
          <td>{{appointment.hour}} <i *ngIf="today===appointment.date" class="fa fa-bell text-primary"></i> <i *ngIf="today > appointment.date" class="fa fa-mail-reply fa-rotate-180"></i></td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="collectionSize"
                        *ngIf="collectionSize"
                        [(page)]="page"
                        [pageSize]="pageSize"
                        (pageChange)="refreshAppointments()">
        </ngb-pagination>
      </div>
    </div>
  </div>
  <div class="col-5 d-flex justify-content-center align-items-start my-2">
    <ado-appointment-details *ngIf="appointmentDetailedSelected; else imageNotSelected"
                               [appointmentDetailedSelected]="appointmentDetailedSelected"
                               (closeAppointmentDetailedSelected)="
                onCloseAppointmentDetailedSelected($event)
            ">
  </ado-appointment-details>
    <ng-template #imageNotSelected>
      <img src="assets/images/doctor4.png"
           class="d-inline-block w-50 mb-10 mt-2 d-none d-md-block"
           alt="Dental Clinic Logo"
           loading="lazy" />
    </ng-template>
  </div>
</div>