<div class="row">
    <div class="col-auto">
        <p>
            <ngb-alert [dismissible]="false">
                <strong>Warning!</strong> Better check yourself, you're not looking too good.
            </ngb-alert>

            <button type="button" class="btn btn-outline-primary">
                Outline primary
            </button> 
            <button type="button" class="btn btn-primary">
                Primary
            </button> 
            <button type="button" class="btn btn-gray">
                Gray
            </button>
            <button type="button" class="btn btn-link">
                Link
            </button>
        </p>
    </div>
    <div class="col">
        <full-calendar #fullCalendar [options]="calendarOptions"></full-calendar>
    </div>
</div>
