.login {
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 25px 0;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 30%);
  
    &-image {
      background-color: #EFF0F6;
    }
  
    &-form {
      background-color: #f0f2f5;
    }
  }
  
  input.ng-invalid.ng-touched {
    border: 1px solid red;
  }
  