<div class="container text-dark">
  <div class="row d-flex justify-content-center">

    <div class="card col">
      <div class="card-icon py-3">
        <i class="fa-4x fas fa-bell text-dark icon-class"></i>
      </div>
      <div class="card-text text-dark">Te putem ajuta?</div>
      <div class="card-title">Ai o problemă?</div>
      <div class="card-description">Medicii noștri stomatologi te pot ajuta să găsești soluția problemei tale dentare,
        dacă alegi să te tratezi la cabinetul nostru stomatologic.</div>
      <div class="card-description"><i class="fa fa-map-marker"></i> Str. Primaverii, nr. 10, Cluj-Napoca, România</div>
    </div>

    <div class="card col">
      <div class="card-icon py-3">
        <i class="fa-4x fa-solid fa-clock text-dark icon-class"></i>
      </div>
      <div class="card-text">Program orar</div>
      <div class="card-title">Interval orar clinica</div>
      <div class="card-description">
        <p>Luni - Joi: 9:00-20:00
        </p>
        <hr>
        <p>Vineri: 9:00-16:00
        </p>
        <hr>
        <p>Sambata - Duminica: INCHIS
        </p>
      </div>
    </div>

    <div class="card col bg-dark text-white">
      <div class="card-icon py-3">
        <i class="fa-4x fa-solid fa-calendar-check text-white"></i>
      </div>
      <div class="card-text">Contacteaza-ne</div>
      <div class="card-title">Cere o consultatie</div>
      <div class="card-description">Contactează-ne pentru o programare rapidă la clinica noastră stomatologică!</div>
      <button class="btn btn-primary w-50 my-5"><a class="text-light"
           routerLinkActive="active"
           routerLink="/appointment"> Programeaza-te acum </a></button>
    </div>

  </div>
</div>