<div class="flex m-0">
  <div class="row m-0">
    <div class="col-1 nav-pills flex-column bg-primary text-white"
         id="sidebar"
         aria-labelledby="sidebarLabel"
         orientation="vertical">
      <div class="header">
        <h5 class="title m-3 p-1"
            id="sidebarLabel"><i class="fa-3x text-white fa-solid fa-bars sub-menu cursor-pointer"></i></h5>
      </div>
      <div class="body">
        <ul class="navbar-nav flex-column">
          <li class="nav-item m-3 p-1">
            <a class="nav-link active"
               aria-current="page"
               data-toggle="tooltip"
               title="Programeaza-te"
               routerLinkActive="active"
               routerLink="/appointment"><i class="fa-3x fa-solid fa-calendar-check sub-menu"></i></a>
          </li>
          <li class="nav-item m-3 p-1"
              *ngIf="authorizationRole === 'ROLE_USER'">
            <a class="nav-link active"
               routerLink="/history"
               data-toggle="tooltip"
               title="Vizualizeaza programări"
               routerLinkActive="active"><i class="fa-3x fa-sharp fa-solid fa-clock-rotate-left sub-menu"></i></a>
          </li>
          <li class="nav-item m-3 p-1"
              *ngIf="authorizationRole === 'ROLE_DOCTOR'">
            <a class="nav-link active"
               routerLink="/view"
               data-toggle="tooltip"
               title="Vizualizeaza programări"
               routerLinkActive="active"><i class="fa-3x fa-sharp fa-solid fa-clock-rotate-left sub-menu"></i></a>
          </li>
          <li class="nav-item m-3 p-1">
            <a class="nav-link active"
               routerLinkActive="active"
               data-toggle="tooltip"
               title="Profilul meu"
               routerLink="/profile"><i class="fa-3x sub-menu fa-solid fa-user"></i></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-7">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>