<div class="flex m-0">
  <div class="row m-0">
    <div class="col-xs-2 col-sm-1 nav-pills flex-column bg-primary text-white m-0"
         id="sidebar"
         orientation="vertical">
      <ul class="navbar-nav flex-column">
        <li class="nav-item my-3 d-flex align-self-center"
            *ngIf="authorizationRole === 'ROLE_USER'">
          <a class="nav-link"
             title="Programeaza-te"
             routerLinkActive="active"
             routerLink="/menu/appointment"><i class="fa-3x fa-solid fa-calendar-check sub-menu"></i></a>
        </li>
        <li class="nav-item my-3 align-self-center"
            *ngIf="authorizationRole === 'ROLE_USER'">
          <a class="nav-link"
             routerLinkActive="active"
             routerLink="/menu/history"
             title="Vizualizeaza programări"
             routerLinkActive="active"><i class="fa-3x fa-sharp fa-solid fa-clock-rotate-left sub-menu"></i></a>
        </li>
        <li class="nav-item my-3 align-self-center"
            *ngIf="authorizationRole === 'ROLE_DOCTOR'">
          <a class="nav-link"
             routerLinkActive="active"
             routerLink="/menu/view"
             title="Vizualizeaza programări"
             routerLinkActive="active"><i class="fa-3x fa-sharp fa-solid fa-clock-rotate-left sub-menu"></i></a>
        </li>
        <li class="nav-item my-3 align-self-center"
            *ngIf="authorizationRole === 'ROLE_USER'">
          <a class="nav-link"
             routerLinkActive="active"
             title="Profilul meu"
             routerLink="/menu/profile"><i class="fa-3x sub-menu fa-solid fa-user"></i></a>
        </li>
        <li class="nav-item my-3 align-self-center"
            *ngIf="authorizationRole === 'ROLE_DOCTOR'">
          <a class="nav-link"
             routerLinkActive="active"
             title="Lista pacienti"
             routerLink="/menu/patients-list"><i class="fa-3x sub-menu fa-solid fa-hospital-user"></i></a>
        </li>
        <li class="nav-item mt-3 mb-10 align-self-center"
            *ngIf="authorizationRole === 'ROLE_DOCTOR'">
          <a class="nav-link"
             routerLinkActive="active"
             title="Profilul meu"
             routerLink="/menu/my-profile"><i class="fa-3x sub-menu fa-solid fa-user"></i></a>
        </li>
        <li class="nav-item my-3 align-self-center"
            *ngIf="authorizationRole === 'ROLE_ADMIN'">
          <a class="nav-link"
             routerLinkActive="active"
             title="Vizualizare utilizatori"
             routerLink="/menu/users"><i class="fa-3x sub-menu fa-solid fa-hospital-user"></i></a>
        </li>
        <li class="nav-item my-3 align-self-center"
            *ngIf="authorizationRole === 'ROLE_ADMIN'">
          <a class="nav-link"
             routerLinkActive="active"
             title="Adaugare doctor"
             routerLink="/menu/register-doctor"><i class="fa-3x sub-menu fa-solid fa-hospital-wide"></i></a>
        </li>
        <li class="nav-item my-3 align-self-center"
        *ngIf="authorizationRole === 'ROLE_ADMIN'">
      <a class="nav-link"
         routerLinkActive="active"
         title="Vizualizare programari"
         routerLink="/menu/all-appointments"><i class="fa-3x fa-sharp fa-solid fa-clock-rotate-left sub-menu"></i></a>
    </li>
        <li class="nav-item my-3 align-self-center"
            *ngIf="authorizationRole === 'ROLE_USER'">
          <a class="nav-link"
             routerLinkActive="active"
             title="Tratamentele mele"
             routerLink="/menu/my-treatments"> <i class="fa-3x fa-sharp sub-menu fa-solid fa-stethoscope"></i></a>
        </li>

      </ul>

    </div>

    <div class="col-11 d-flex justify-content-center">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>