<div class="contact-info bg-light">
   <ul>
      <li class="telephone-font"><i class="fa-solid fa-phone"></i> 0753 871 595</li>
      <li class="email-font"><i class="fa-sharp fa-solid fa-envelope"></i> dental.clinic@yahoo.com</li>
   </ul>
</div>
<hr class="line-style">

<nav class="navbar navbar-expand-md navbar-light bg-light">
   <div class="container">

      <div class="navbar-nav d-flex flex-grow-1 justify-content-between align-items-center">
         <!-- This main navigation links are defined here -->
         <a class="navbar-brand"
            routerLinkActive="active"
            routerLink="/">
            <img src="assets/logo.png"
                 height="60"
                 class="d-inline-block align-top"
                 alt="Dental Clinic Logo"
                 loading="lazy" />
         </a>

         <!-- Each link has the routerLink property set to a different route -->
         <div class="d-flex rounded-pill py-2 px-3 nav-pills nav-item">
            <a class="nav-link"
               routerLinkActive="active"
               routerLink="/home">Acasa</a>
            <a class="nav-link"
               routerLinkActive="active"
               routerLink="/about-us">Echipa noastra</a>
            <a class="nav-link"
               routerLinkActive="active"
               routerLink="/services">Servicii stomatologice</a>
            <a class="nav-link"
               routerLinkActive="active"
               routerLink="/prices">Tarife</a>
            <a class="nav-link"
               routerLinkActive="active"
               routerLink="/contact">Contact</a>
            <a class="nav-link bg-dark text-light"
               routerLinkActive="active"
               routerLink="/appointment"
               *ngIf="!authorizationRole">Programare online</a>
            <a class="nav-link"
               href="#"
               data-bs-toggle="offcanvas"
               data-bs-target="#sidebar"
               aria-controls="sidebar"
               *ngIf="authorizationRole">Meniu</a>
         </div>

         <div class="nav-item dropdown rounded">
            <a class="nav-link rounded"
               routerLinkActive="active"
               *ngIf="!authorizationRole"
               routerLink="/login"><i class="fas fa-right-to-bracket text-dark rounded"></i></a>
            <a class="nav-link dropdown-toggle bg-dark text-white rounded"
               *ngIf="authorizationRole"
               href="#"
               id="navbarDropdownMenuLink"
               role="button"
               data-bs-toggle="dropdown"
               aria-expanded="false">
               {{username}}
            </a>
            <ul class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink">
               <li><a class="dropdown-item"
                     (click)="onLogout()">Deconectare</a></li>
               <hr class="dropdown-divider">
               <li> <a class="dropdown-item"
                     aria-current="page"
                     routerLinkActive="active"
                     routerLink="/appointment">Programeaza-te</a></li>
               <li><a class="dropdown-item"
                     href="#"
                     data-bs-toggle="offcanvas"
                     data-bs-target="#sidebar"
                     aria-controls="sidebar">Deschide meniul</a></li>
            </ul>
         </div>
      </div>
   </div>
</nav>


<div class="offcanvas offcanvas-start off bg-primary text-white"
     tabindex="-1"
     id="sidebar"
     aria-labelledby="sidebarLabel">
   <div class="offcanvas-header">
      <h5 class="offcanvas-title m-3 p-1"
          data-bs-dismiss="offcanvas"
          id="sidebarLabel"><i class="fa-3x text-white fa-solid fa-bars sub-menu cursor-pointer"></i></h5>
      <!-- <button type="button"
              class="btn-close text-reset"
              data-bs-dismiss="offcanvas"
              aria-label="Close"></button> -->
   </div>
   <div class="offcanvas-body">
      <ul class="navbar-nav flex-column">
         <li class="nav-item m-3 p-1">
            <a class="nav-link active"
               aria-current="page"
               routerLinkActive="active"
               routerLink="/appointment"><i class="fa-3x fa-solid fa-calendar-check sub-menu"></i></a>
         </li>
         <li class="nav-item m-3 p-1">
            <a class="nav-link active"
               routerLink="/history"
               routerLinkActive="active"
               *ngIf="authorizationRole==='ROLE_USER'"><i
                  class="fa-3x fa-sharp fa-solid fa-clock-rotate-left sub-menu"></i></a>
         </li>
         <li class="nav-item m-3 p-1"
             *ngIf="authorizationRole==='ROLE_DOCTOR'">
            <a class="nav-link active"
               href="#"
               routerLinkActive="active"
               *ngIf="authorizationRole==='ROLE_DOCTOR'"><i class="fa-3x fa-solid fa-user sub-menu"></i></a>
         </li>
         <li class="nav-item m-3 p-1">
            <a class="nav-link active"
               routerLinkActive="active"
               routerLink="/profile"><i class="fa-3x sub-menu fa-solid fa-user"></i></a>
         </li>
      </ul>
   </div>
</div>