.telephone-font {
    font-size: 20px;
    font-weight: 800;
    color: #D58525 !important;
}

.email-font {
  font-size: 20px;
  font-weight: 800;
  color: #6f738a !important;
}

.nav-link:hover {
  font-size: 18px;
    font-weight: bold;
    font-size: large;
  }
  
  .contact-info {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;;
  }
  
  .contact-info ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .contact-info li {
    margin-right: 20px;
  }
  
  .contact-info i {
    margin-right: 5px;
  }

  hr {
    background-color: #000B6C;
    border-top: 2px solid #000B6C;
    margin-top: 0;
    margin-bottom: 0;
  }

  a:hover {
    font-weight: bold;
    text-decoration: underline;
  }
  
  .nav-pills .nav-link.active{
    text-decoration: none;
    border-bottom: 2px solid #000B6C;
    background-color: #EFF0F6;
    opacity: 1;

  }

  .off{
    width: 120px;
  }

  .sub-menu:hover{
    color: #000B6C;
  }

  .sub-menu{
    color: white;
  }