<div class="strength-meter"
     [attr.data-strength-score]="score">
  <div class="strength-text">{{ strengthText }}</div>
  <div class="progress strength-wrapper">
    <div class="progress-bar"
         role="progressbar"
         [ngClass]="{
              'bg-danger': score < 25,
              'bg-warning': score >= 25 && score < 50,
              'bg-info': score >= 50 && score < 75,
              'bg-success': score >= 75
          }"
         [style.width.%]="score"
         aria-valuemin="0"
         aria-valuemax="100"></div>
  </div>
  <div>Parola trebuie sa contina:</div>
  <div class="strength-feedback"
       *ngFor="let item of feedbackArr">
    {{ item.label }}
    <i class="fa"
       [ngClass]="
              item.status ? 'fa-check text-success' : 'fa-times text-danger'
          "></i>
  </div>
</div>