<div class="row d-flex justify-content-center align-items-center align-content-center ps-4 ps-lg-0">
  <table class="table table-striped">
    <thead class="bg-primary">
      <tr>
        <th scope="col"
            class="col-4 text-white p-2"><i class="fa-solid fa-user-doctor"></i> &nbsp;Doctor</th>
        <th scope="col"
            class="col-4 text-white p-2"><i class="fa-solid fa-user"></i> &nbsp;Pacient</th>
        <th scope="col"
            class="col-2 text-white p-2"><i class="fa-solid fa-calendar-alt"></i> &nbsp;Data</th>
        <th scope="col"
            class="col-2 text-white p-2"><i class="fa-solid fa-clock"></i> &nbsp;Ora</th>
      </tr>
    </thead>

    <tbody>
      <ng-container *ngIf="!listIsEmpty">
        <tr *ngFor="let appointment of appointmentsList"
            class="align-middle">
          <th scope="row">{{appointment.doctorDetails.lastName}} {{appointment.doctorDetails.firstName}}</th>
          <th scope="row">{{appointment.patientDetails.lastName}} {{appointment.patientDetails.firstName}}</th>
          <td>{{appointment.date | date: dateFormat}}</td>
          <td>{{appointment.hour}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="listIsEmpty">
        <td class="bg-light fw-bold text-center"
            colspan="4">
          <div class="row">
            <i class="fa-solid fa-file-circle-xmark fa-3x"></i>
          </div>
          <div class="row">
            <p>Nu exista programari.</p>
          </div>
        </td>
      </ng-container>

    </tbody>

  </table>
  <div class="row">
    <div class="d-flex justify-content-between p-2">
      <ngb-pagination [collectionSize]="collectionSize"
                      *ngIf="collectionSize"
                      [(page)]="page"
                      [pageSize]="pageSize"
                      (pageChange)="refreshAppointments()">
      </ngb-pagination>
    </div>
  </div>
</div>