<div class="row card bg-white">
  <form [formGroup]="form"
        *ngIf="form">
    <div class="my-2">
      <div class="row">
        <div class="col-10"
             >
          <h1>Informatiile mele</h1>
        </div>

        <div class="col-1 d-sm-block d-md-none">
          <a class="nav-link"
             routerLinkActive="active"
             routerLink="/profile"><i class="fa-solid fa-x mb-2"></i></a>
        </div>
      </div>
    </div>
    <div class="my-2 form-floating form-group">
      <input type="text"
             class="form-control"
             formControlName="username"
             id="username" />
      <label 
             for="username"
             class="form-label">Username</label>
    </div>

    <div class="my-2 form-floating form-group">
      <input type="text"
             class="form-control"
             formControlName="role"
             id="role" />
      <label 
             for="role"
             class="form-label">Rol</label>
    </div>

  </form>
</div>