<div class="container">
  <div class="row d-flex justify-content-center p-3 rounded-3 start-title my-3">Serviciile noastre includ:</div>

  <div class="row card my-3 text-center text-dark p-3 rounded-3">
    La clinica noastră stomatologică, oferim o gamă completă de servicii stomatologice pentru a vă ajuta să vă mențineți
    sănătatea dentară și să vă îmbunătățiți zâmbetul.
  </div>

  <div class="row d-flex justify-content-center flex-wrap">

    <div class="flip-card m-3">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <div class="row m-4">
            <div class="col">
              <img src="assets/images/terapie.png"
                   class="d-inline-block d-md-block"
                   alt="Dental Clinic Logo"
                   loading="lazy" />
            </div>
            <div class="col m-2 title">Terapie gingivală</div>
          </div>
          <p>AFLĂ MAI MULTE >></p>
        </div>
        <div class="flip-card-back">
          <p class="title">Terapie gingivală</p>
          <p>Terapia gingivală cu laser este folosită pentru tratarea bolii parodontale și chirurgia țesuturilor moi.
          </p>
        </div>
      </div>
    </div>

    <div class="flip-card m-3">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <div class="row m-4">
            <div class="col">
              <img src="assets/images/ortodontia.png"
                   class="d-inline-block d-md-block"
                   alt="Dental Clinic Logo"
                   loading="lazy" />
            </div>
            <div class="col m-2 title">Ortodonție</div>
          </div>
          <p>AFLĂ MAI MULTE >></p>
        </div>
        <div class="flip-card-back">
          <p class="title">Ortodonție</p>
          <p>Aparatele dentare te ajută să îndrepți sau să corectezi malpoziția inițială a dinților tăi asigurându-ți un
            zambet impecabil.</p>
        </div>
      </div>
    </div>

    <div class="flip-card m-3">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <div class="row m-4">
            <div class="col">
              <img src="assets/images/pedodontie.png"
                   class="d-inline-block d-md-block"
                   alt="Dental Clinic Logo"
                   loading="lazy" />
            </div>
            <div class="col m-2 title">Pedodonție</div>
          </div>
          <p>AFLĂ MAI MULTE >></p>
        </div>
        <div class="flip-card-back">
          <p class="title">Pedodonție</p>
          <p>Pedodonția tratează cu succes afecțiunile dentiției temporare (la copii) sau ale dentiției permanente (la
            adolescenți).</p>
        </div>
      </div>
    </div>

    <div class="flip-card m-3">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <div class="row m-4">
            <div class="col">
              <img src="assets/images/implant.png"
                   class="d-inline-block d-md-block"
                   alt="Dental Clinic Logo"
                   loading="lazy" />
            </div>
            <div class="col m-2 title">Implantologie</div>
          </div>
          <p>AFLĂ MAI MULTE >></p>
        </div>
        <div class="flip-card-back">
          <p class="title">Implantologie</p>
          <p>Tratamentul de implantologie este unul personalizat și presupune înlocuirea unui dinte lipsă cu un implant.
          </p>
        </div>
      </div>
    </div>

    <div class="flip-card m-3">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <div class="row m-4">
            <div class="col">
              <img src="assets/images/chirurgieOrala.png"
                   class="d-inline-block d-md-block"
                   alt="Dental Clinic Logo"
                   loading="lazy" />
            </div>
            <div class="col m-2 title">Chirurgie orală</div>
          </div>
          <p>AFLĂ MAI MULTE >></p>
        </div>
        <div class="flip-card-back">
          <p class="title">Chirurgie orală</p>
          <p>Chirurgia orală presupune toate tratamentele chirurgicale realizate la nivelul cavității orale, inclusiv
            chirurgia plastică.</p>
        </div>
      </div>
    </div>

    <div class="flip-card m-3">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <div class="row m-4">
            <div class="col">
              <img src="assets/images/protetica.png"
                   class="d-inline-block d-md-block"
                   alt="Dental Clinic Logo"
                   loading="lazy" />
            </div>
            <div class="col m-2 title">Protetică dentară</div>
          </div>
          <p>AFLĂ MAI MULTE >></p>
        </div>
        <div class="flip-card-back">
          <p class="title">Protetică dentară</p>
          <p>Materialele folosite pentru realizarea protezelor sunt de ultimă generație și de cea mai bună calitate.</p>
        </div>
      </div>
    </div>

    <div class="flip-card m-3">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <div class="row m-4">
            <div class="col">
              <img src="assets/images/endodontie.png"
                   class="d-inline-block d-md-block"
                   alt="Dental Clinic Logo"
                   loading="lazy" />
            </div>
            <div class="col m-2 title"> Endodonție </div>
          </div>
          <p>AFLĂ MAI MULTE >></p>
        </div>
        <div class="flip-card-back">
          <p class="title">Endodonție</p>
          <p>Tehnica de endodonție sub microscop presupune tratamente amănunțite pentru a îndepărta afecțiunile pulpei
            dintelui.</p>
        </div>
      </div>
    </div>

    <div class="flip-card m-3">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <div class="row m-4">
            <div class="col">
              <img src="assets/images/estetica.png"
                   class="d-inline-block d-md-block m-2"
                   alt="Dental Clinic Logo"
                   loading="lazy" />
            </div>
            <div class="col m-2 title">Estetică dentară</div>
          </div>
          <p>AFLĂ MAI MULTE >></p>
        </div>
        <div class="flip-card-back">
          <p class="title">Estetică dentară</p>
          <p>Albirea profesională a dinților și instalarea fațetelor ceramice te ajută să redai strălucirea zâmbetului
            tău.</p>
        </div>
      </div>
    </div>

    <div class="flip-card m-3">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <div class="row m-4">
            <div class="col">
              <img src="assets/images/cosmetica.png"
                   class="d-inline-block d-md-block"
                   alt="Dental Clinic Logo"
                   loading="lazy" />
            </div>
            <div class="col m-2 title"> Profilaxie & cosmetică </div>
          </div>
          <p>AFLĂ MAI MULTE >></p>
        </div>
        <div class="flip-card-back">
          <p class="title">Profilaxie & cosmetică</p>
          <p>Profilaxia stomatologică ajută la prevenția apariției cariilor dentare și a bolii parodontale care îți pot
            afecta dinții. </p>
        </div>
      </div>
    </div>

  </div>

  <div class="row book-online bg-primary text-white text-center my-3 rounded-3">
    <div class="book-online p-3 rounded-3"> ALTCEVA? <br>
      Nu ești sigur de ce tratament ai nevoie pentru zâmbetul tău? De ce nu rezervați o consultație cu una dintre
      echipele noastre pentru a discuta opțiunile și serviciile relevante. <br> <a class="text-light"
         routerLinkActive="active"
         routerLink="/menu/appointment"> Programeaza-te online </a>
    </div>
  </div>
  <button *ngIf="isMenuScrolled"
          (click)="scrollToTop()"
          class="scroll-to-top-button">
    <svg xmlns="http://www.w3.org/2000/svg"
         fill="none"
         viewBox="0 0 24 24"
         stroke-width="2.5"
         stroke="currentColor"
         class="scroll-to-top-icon">
      <path stroke-linecap="round"
            stroke-linejoin="round"
            d="M4.5 15.75l7.5-7.5 7.5 7.5" />
    </svg>
  </button>

</div>