<div class="container">
  <div class="row">
    <div class="row">
      <form [formGroup]="form"
            class="row-cols-sm-auto d-flex flex-wrap justify-content-center">
        <div class="form-floating m-3 w-25">
          <input class="form-control py-1"
                 name="search"
                 formControlName="search"
                 id="search"
                 placeholder="Caută" />
          <label for="search"
                 class="form-label"><i class="fa-solid fa-search"> </i> Cautare</label>
        </div>
        <div class="input-group m-3 w-25">
          <input class="form-control py-3"
                 placeholder="Selectează o dată"
                 ngbDatepicker
                 #d1="ngbDatepicker"
                 formControlName="date">
          <button class="btn btn-outline border-gray calendar"
                  (click)="d1.toggle()"
                  type="button">
          </button>
        </div>

      </form>
    </div>


    <div class="row w-75 d-flex flex-wrap justify-content-center ms-10">
      <div *ngIf="!appointmentsListDetailed"
           class="spinner-border"
           role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <ado-appointment-doctor-table *ngIf="appointmentsListDetailed"
                                    [appointmentsListDetailed]="appointmentsListDetailed"></ado-appointment-doctor-table>
    </div>
  </div>
</div>