<div class="modal-header">
  <h4 class="modal-title">Stergere programare</h4>
  <button type="button"
          class="btn-close"
          (click)="onClose()"></button>
</div>

<div class="modal-body">
  Sunteti sigur ca doriti sa stergeti aceasta programare?
</div>

<div class="row justify-content-center">
  <div class="col-auto">
    <button type="button"
            class="btn btn-secondary m-3"
            (click)="onClose()">
      Renunta
    </button>
  </div>
  <div class="col-auto">
    <button type="button"
            class="btn btn-danger text-white m-3"
            (click)="deleteAppointment()">
      Sterge
    </button>
  </div>
</div>