.welcome-text {
  font-size: 30px;
  font-weight: 800;
  color: #d58525 !important;
}

.description-text {
  font-size: 22px;
  font-weight: 800;
  color: #000b6c !important;
}

a:hover {
  font-weight: bold;
  text-decoration: underline;
}
