.welcome-text {
  font-size: 30px;
  font-weight: 800;
  color: #d58525 !important;
}

.description-text {
  font-size: 22px;
  font-weight: 800;
  color: #000B6C !important;
}

// .book-online:hover {
//   background-color: #000b6c;
//   color: white;
// }

a:hover {
  font-weight: bold;
  text-decoration: underline;
}
