<div class="container my-3 col-md-12 col-xs-6">
  <div class="row">
    <div class="col">

      <form [formGroup]="filterPatientsForm"
            *ngIf="filterPatientsForm">
        <div class="form-floating mb-3 search">
          <input class="form-control py-1"
                 name="search"
                 formControlName="search"
                 id="search" />
          <label for="search"
                 class="form-label px-4 left-auto justify-content-center"><i class="fa-solid fa-search"> </i> Cautare</label>
        </div>
      </form>

      <ado-patients-list *ngIf="patientObservable"
                         [patients]="patientObservable | async"
                         [selectedPatient]="selectedPatient"></ado-patients-list>


    </div>
  </div>
</div>