<div class="container">
  <div class="row justify-content-center">

    <div class="w-25 register register-form rounded px-4">

      <div class="text-center p-2">
        <h1>Bine ai venit!</h1>
      </div>

      <form [formGroup]="accountForm"
            (ngSubmit)="submitStepOne()" *ngIf="!stepOneSubmitted">
            <div class="form-floating m-2">
              <input type="text"
                     class="form-control"
                     formControlName="lastName"
                     adoNgError="lastName"
                     id="lastName">
              <label for="lastName"
                     class="form-label">Nume</label>
            </div>        
            <div class="form-floating m-2">
              <input type="text"
                     class="form-control"
                     formControlName="firstName"
                     adoNgError="firstName"
                     id="firstName">
              <label for="firstName"
                     class="form-label">Prenume</label>
            </div>
            <div class="form-floating m-2">
              <input type="text"
                     class="form-control"
                     formControlName="username"
                     adoNgError="username"
                     id="username">
              <label for="username"
                     class="form-label">Nume de utilizator</label>
            </div>

            <div class="form-floating m-2">
              <input type="text"
                     class="form-control"
                     formControlName="email"
                     adoNgError="email"
                     id="email">
              <label for="email"
                     class="form-label">Email</label>
            </div>

        <div class="form-floating m-2">
          <input type="password"
                 class="form-control"
                 formControlName="password"
                 adoNgError="password"
                 id="password" />
          <label for="password"
                 class="form-label">Parola</label>
        </div>

        <div class="form-floating m-2">
          <input type="password"
                 class="form-control"
                 formControlName="confirmPassword"
                 adoNgError="confirmPassword"
                 id="confirmPassword" />
          <label for="confirmPassword"
                 class="form-label">Confirma Parola</label>
        </div>

        <div class="form-floating text-center">
          <button type="submit"
                  class="btn btn-primary text-white p-2 m-3 w-50"
          >
            Continua
          </button>
        </div>
      </form>

      <form [formGroup]="accountForm" 
            (ngSubmit)="submitStepOne()" *ngIf="stepOneSubmitted">
        <div class="form-floating m-2">
          <input type="text"
                 class="form-control"
                 formControlName="phone"
                 adoNgError="phone"
                 id="phone">
          <label for="phone"
                 class="form-label">Telefon</label>
        </div>
        <div class="form-floating m-2">
          <input type="text"
                 class="form-control"
                 formControlName="dateOfBirth"
                 adoNgError="dateOfBirth"
                 id="dateOfBirth">
          <label for="dateOfBirth"
                 class="form-label">Data nasterii</label>
        </div>
        <div class="form-floating m-2">
          <input type="text"
                 class="form-control"
                 formControlName="allergies"
                 adoNgError="allergies"
                 id="allergies">
          <label for="allergies"
                 class="form-label">Alergii</label>
        </div>
        <div class="form-floating m-2">
          <input type="text"
                 class="form-control"
                 formControlName="diseases"
                 adoNgError="diseases"
                 id="diseases">
          <label for="diseases"
                 class="form-label">Boli cronice</label>
        </div>
        <div class="form-floating text-center">
          <button type="submit"
                  class="btn btn-primary text-white p-2 m-3 w-50"
                  [disabled]="!accountForm.valid">
            Creareza cont
          </button>
        </div>
        <div class="form-floating text-center">
          <button (click)="backToStepOne()"
                  class="btn btn-secondary text-white p-2 m-3 w-50"
                ><i class="fa-sharp fas fa-circle-left"></i>
          </button>
        </div>
      </form>


    </div>

  </div>

</div>